# Ignore the logo and song headers for lang stats
/src/kernel/media/*.h linguist-detectable=false

# Ignore the font header for lang stats
/src/kernel/include/fonts/main_font.h linguist-detectable=false

# Ignore the bootloader code
/limine/** linguist-detectable=false
